.business-wrap {
  background-color: #1e222e;
  color: white;
  border-top: 1px solid;
  border-color: gray;
  padding-bottom: 60px;
}
.title-wrap {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
  padding-top: 60px;
  gap: 20px;
}
.secondpage-main {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.secondpage-under {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.tech-image {
  height: 175px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.tech-image:hover {
  transform: scale(1.06);
}
.service-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  /* padding: 0px 100px; */
  justify-content: center;
  margin-top: 60px;
}
.single-tech-wrap {
  border: 1px solid #666;
  border-radius: 4px;
  padding: 15px 18px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  background-color: #242836;
  /* width: 200px; */
}
.single-tech-wrap:hover {
  background-color: #272c3e;
}
.techName {
  font-size: 20px;
}
.get-start {
  color: #269df5;
  font-size: 18px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}
.get-start:hover {
  color: #ffa774;
}
